/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&'); */
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F6F0EB;
}
a{
    text-decoration-line: none;
    color: inherit;
}
header{
    padding: 24px 32px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    display: flex;
    /* gap: 60px; */
}
nav a{
    font-weight: 700;
    font-size: 18px;
    color: #492118;
}
nav a+a{
    margin-left: 60px;
}
img{
    width: 100%;
}
main{
padding: 0 25px;
}
.hero-section{
    margin-top: 90px;
}
.img-container{
    
    margin-top: 100px;
    max-width: 1290px;
    margin: 0px auto;
}
.hero-section p{
    text-align: center;
    color: #492118;
    font-weight: 400;
    font-size: 20px;
}
.section{
    margin-top: 130px;
}
.section .img-container{
    height: 50%;
    max-width: 800px;
    background-color: #0b0909;
}
.section h2{
    font-size: 37px;
    color: #492118;
    font-weight: 700;
    text-align: center;
}
