/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&'); */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F6F0EB;
}
a{
    text-decoration-line: none;
    color: inherit;
}
header{
    padding: 24px 48px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
