*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: Nunito, sans-serif;
}
.title{
    font-weight: 700;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
}