@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&');
*{
    padding: 0px;
    margin: 0px;
}
body {
    background-color: #48A30012;
    font-family: "Popins", sans-serif;

}
main{
    padding: 10px;
}
.title{
    color: #48A300;
    text-align: center;
}
.title span{
    color: #61481C;
}   
.app-container{
    background-color: #FBFBFB;
    margin-inline: auto;
    border-radius: 5px;
    padding: 32px  42px;
    max-width: 460px;
    height: 510px;
    box-shadow: 0 0 8px 0px #02020033;
    
}
.subtitle{
    
}
.sun-icon{
    vertical-align: middle;
    margin-left: 16px;
}
@media (max-width: 768px){
    .title{
        font-size: 20px;
    }
    .app-container{
        background-color: #FBFBFB;
        margin-inline: auto;
        border-radius: 3px;
        padding: 20px  30px;
        max-width: 330px;
        height: 510px;
        box-shadow: 0 0 8px 0px #02020033;
        
    }
    .subtitle{
        font-size: medium;
    }
    .sun-icon{
        height: 25px;
        vertical-align: middle;
        margin-left: 5px;
    }
}